@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring {
  position: absolute;
  inset: -3px;
  border-radius: 2rem;
  pointer-events: none;
}

.ring::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2rem;

  border: 4px solid white;   /* 👈 THICK SINGLE LINE */
  border-top-color: transparent; /* creates motion gap */

  animation: spin 2s linear infinite;
}


@keyframes scrollSlider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  width: max-content;
  display: flex;
  animation: scrollSlider 14s linear infinite;
}

* {
  transform-style: flat;
}